# ===============================
# API Keys
# ===============================
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# ===============================
# Django
# ===============================
DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=